.ghosTown {
  text-align: center;
  position: relative;
  margin: 2%;
  font-size: 10em;
  font-family: 'Freckle Face', cursive;
  text-shadow: 1px 1px black,
              2px 2px black,
              3px 3px black,
              4px 4px #aaff01,
              5px 5px #aaff01,
              6px 6px #aaff01;
  color: #0af;
  animation: title 1.5s forwards;
  animation-iteration-count: 1;
  animation-delay: 1s;
}

@keyframes title {
  25% {top: 150%;}
  35% {transform: rotate(10deg);}
  50% {top: -8%;}
  55% {transform: rotate(-10deg);}
  100% {top: 3%;}
}


body {
  font-family: 'Special Elite', cursive;
  background: #aa00ff;
  min-width: 900px;
  margin: 0;
  color: rgb(209, 209, 209);
}

h2 {
  display: block;
  position: absolute;
  top: 30%;
  margin: 2% 5% 2% 5%;
  padding: 0% 2% 0% 2%;
}

.author {
  display: block;
  margin: 5% 5% 5% 5%;
  position: relative;
  top: 30%;
  width: 80%;
}

.author p, .author h3 {
  display: inline;
  margin: 1% 1% 1% 1%;
  padding: 2% 2% 2% 2%;
}

.author p {
  display: inline;
  float: left;
  line-height: 1.8em;
  font-size: 16px;
  color: rgb(209, 209, 209);
  text-align: justify;
  background-color: rgb(160, 0, 255);
  border-radius: 20px;
}

.author h3 {
  font-size: 2em;
  padding: 5% 0% 5% 0%;
  float: left;
}

.author img {
  border-radius: 80px;
  padding: 2px 2px 2px 2px;
}

.clearFloat {
  float: none;
}

.authorName {
  display: inline-block;
  width: 35%;
  float: left;
  margin: 10% 0% 1% 0%;
}

.socialMediaBtns {
  display: inline;
  width: 35%;
  margin: 10% 0% 1% 2%;
  float: right;
}

.socialMediaBtns i {
  padding: 5px 5px 5px 5px;
  color: white;
}
