.container {
  position: absolute;
  margin: 0;
  border: 1px solid white;
  width: 700px;
  min-width: 700px;
  height: 575px;
  min-height: 575;
  z-index: 1;
  top: 150%;
  left: 20%;
  border-radius: 10px;
  box-shadow: 2px 2px 10px black;
  animation: containerBox 1.3s forwards;
  animation-iteration-count: 1;
  animation-delay: 0.5s;
}

@keyframes containerBox {
  50% {top: 5%;}
  100% {top: 7%;}
}

.actionField {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  width: 700px;
  height: 250px;
  background: black;
  opacity: 0.5;
}

.textField {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: 'Special Elite', cursive;
  width: 100%;
  height: 325px;
  background: black;
  color: white;
}

.counter {
  float: right;
  font-size: 1.5em;
  padding-top: 0.2em;
  padding-right: 0.5em;
}

h2 {
  margin: 0;
  padding-top: 0.2em;
  padding-left: 0.5em;
  border-bottom: 1px solid gray;
}

p {
  padding-left: 1em;
}

li {
  float: left;
  padding: 0.5em;
  list-style-type: none;
  border: 1px solid black;
}

li:hover {
  float: left;
  color: #ffaa01;
  border: 1px solid #ffaa01;
  border-radius: 5px;
  cursor: pointer;
}

.break {
  clear: both;
}

.gameOver {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 8em;
  font-family: 'Freckle Face', cursive;
  color: #ff00aa;
}

.gameOver:hover {
  cursor: pointer;
  color: #ffaa01;
  font-size: 8.5em;
  text-shadow: 1px 1px #00aaff,
              2px 2px #00aaff,
              3px 3px #00aaff,
              4px 4px #aaff01,
              5px 5px #aaff01,
              6px 6px #aaff01;
}
