.ghostOne {
  right: 40%;
  top: 120%;
  position: absolute;
  animation: firstGhost 1.3s forwards;
  animation-iteration-count: 1;
  animation-delay: 2.5s;
  z-index: 9;
}

@keyframes firstGhost {
  50% {top: 13%;}
  70% {transform: rotate(20deg);}
  100% {top: 23%;}
}

.ghostOne:hover {
  transform: rotate(20deg) scale(1.1);
  opacity: 0.9;
  z-index: 100;
}

.ghostTwo {
  right: 53%;
  top: 120%;
  position: absolute;
  animation: secondGhost 1.3s forwards;
  animation-iteration-count: 1;
  animation-delay: 3s;
  z-index: 8;
}

@keyframes secondGhost {
  50% {top: 20%;}
  20% {transform: rotate(-30deg);}
  100% {top: 30%;}
}

.ghostTwo:hover {
  transform: rotate(-20deg) scale(1.1);
  opacity: 0.9;
  z-index: 100;
}

.ghostThree {
  right: 23%;
  top: 120%;
  position: absolute;
  animation: thirdGhost 1.3s forwards;
  animation-iteration-count: 1;
  animation-delay: 3.3s;
  z-index: 7;
}

@keyframes thirdGhost {
  5% {transform: rotate(-200deg);}
  50% {top: 25%;}
  90% {transform: rotate(-180deg);}
  100% {top: 32%;}
}

.ghostThree:hover {
  transform: rotate(-20deg) scale(1.1);
  opacity: 0.9;
  z-index: 100;
}
