.dropdown {
  position: absolute;
  display: block;
  background: #ff00aa;
  width: 300px;
  z-index: 2;
  font-family: 'Special Elite', cursive;
  border: 1px solid black;
  right: 0;
  border-bottom-left-radius: 10px;
  animation: dropdown 1s forwards;
  top: -150%;
  color: white;
  box-shadow: 2px 2px 10px black;
}

@keyframes dropdown {
  100% {top: 5%;}
}

.dropdown p {
  margin: 0;
  text-align: justify;
  padding: 0.5em;
  border-top: 1px solid white;
}

.navBar {
  top: -30%;
  padding-top: 2em;
  position: fixed;
  font-size: 2em;
  font-family: 'Didact Gothic', sans-serif;
  width: 100%;
  min-height: 1em;
  background: black;
  color: #f0a;
  z-index: 2;
  animation: navbar 0.5s forwards;
  border-bottom: 2px solid #272727;
}

.navBar a {
  text-decoration: none;
  color: #f0a;
}

@keyframes navbar {
  50% {top: -9%;}
  100% {top: -11%;}
}

.about {
  padding-left: 1em;
}

.about:hover {
  color: white;
  cursor: pointer;
}

.howTo {
  float: right;
  padding-right: 1em;
}

.howTo:hover {
  color: white;
  cursor: pointer;
}

.chooseGhostie {
  position: absolute;
  top: 90%;
  right: 35%;
  font-size: 1.3em;
  color: white;
  font-family: 'Press Start 2P', cursive;
  z-index: 10;
  animation: sel 2s forwards;
  animation-delay: 5s;
  opacity: 0;
  text-shadow: 2px 2px black,
              2px -2px black,
              -2px 2px black,
              -2px -2px black;
}

@keyframes sel {
  20% {color: #aaff01;}
  40% {color: #ffaa01;}
  60% {color: #ff00aa;}
  80% {color: #aa00ff;}
  98% {color: #00aaff;}
  99% {color: white;}
  100% {opacity: 1;}
}
